/* pages/screenFunds/index.wxss */
page{
  position: relative;
  .tabs{
    display: flex;
    min-height: 100vh;
    background-color: #fff;
    .tab_left{
      width: 168rpx;
      border-right: 1px solid #F6F7FB;
      padding-bottom: 4rpx;;
      .tab_li{
        width: 100%;
        text-align: center;
        padding: 28rpx 0;
        box-sizing: border-box;
        font-size: 28rpx;
        font-weight: 400;
        color: #000;
        line-height: 28rpx;
        &.active{
          color: #EE793F;
        }
      }
    }
    .tab_content{
      flex: 1;
      padding: 28rpx;
      box-sizing: border-box;
    }
  }
  .btn_group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 56rpx;
    .btn_li{
      height: 79rpx;
      background: #F6F7FB;
      border-radius: 8rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(50% - 14rpx);
      font-size: 28rpx;
      color: #727171;
      box-sizing: border-box;
      &.active{
        border: 2rpx solid #E07E4D;
        color: #EE793F;
      }
      &:nth-child(n+3) {
        margin-top: 28rpx;
      }
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 28rpx;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    box-shadow: 0px -12rpx 12rpx 2rpx #EDECEB;
    .btn{
      text-align: center;
      padding: 28rpx;
      width: 194rpx;
      background: #F6F7FB;
      border-radius: 8px 8px 8px 8px;
      font-size: 28rpx;
      color: #727171;
      &+.btn{
        margin-left: 28rpx;
      }
      &.primary{
        background: #EE793F;
        color: #fff;
      }
    }
  }
}